force-app/main/default/flows/Log_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Action_Type_Decision</name>
        <label>Action Type Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StageAndStatusChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fStatusChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fStageChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_And_Status_Change</targetReference>
            </connector>
            <label>StageAndStatusChange</label>
        </rules>
        <rules>
            <name>StageChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fStageChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Change</targetReference>
            </connector>
            <label>StageChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Or_Update</name>
        <label>Is New Or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Create_History</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Update_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_History</targetReference>
            </connector>
            <label>Update Path</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ActionHistoryName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} +TEXT({!$Record.SystemModstamp})</expression>
    </formulas>
    <formulas>
        <name>fStageChanged</name>
        <dataType>Boolean</dataType>
        <expression>TEXT($Record.StageName) &lt;&gt; TEXT($Record__Prior.StageName)</expression>
    </formulas>
    <formulas>
        <name>fStatusChanged</name>
        <dataType>Boolean</dataType>
        <expression>TEXT($Record.Status__c) &lt;&gt; TEXT($Record__Prior.Status__c)</expression>
    </formulas>
    <interviewLabel>Log History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Create_History</name>
        <label>New Create History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Action_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Type__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ActionHistoryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Stage__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performed_By_Employee__c</field>
            <value>
                <elementReference>get_current_employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performed_By_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Action_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Updated_History</name>
        <label>Updated History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action_Type_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Time__c</field>
            <value>
                <elementReference>$Record.SystemModstamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ActionHistoryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Stage__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Stage__c</field>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Status__c</field>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performed_By_Employee__c</field>
            <value>
                <elementReference>get_current_employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performed_By_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Action_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_current_employee</name>
        <label>get current employee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_Or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Current_Employee_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stage_And_Status_Change</name>
        <label>Update Stage And Status Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_History.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Type__c</field>
            <value>
                <stringValue>Status &amp; Stage Updated</stringValue>
            </value>
        </inputAssignments>
        <object>Action_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_Change</name>
        <label>Update Stage Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_History.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Type__c</field>
            <value>
                <stringValue>Stage Updated</stringValue>
            </value>
        </inputAssignments>
        <object>Action_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Change</name>
        <label>Update Status Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_History.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Type__c</field>
            <value>
                <stringValue>Status Updated</stringValue>
            </value>
        </inputAssignments>
        <object>Action_History__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_current_employee</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
