force-app/main/default/flows/Login_Flow_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>choiceSalesLeader</name>
        <choiceText>Sales Leader</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sale Leader</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSalesPIC</name>
        <choiceText>Sales PIC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sale PIC</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_null_employee</name>
        <label>Check null employee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dev_Employee_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmployeePicklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_User_Dev</targetReference>
            </connector>
            <label>Dev Employee Not null</label>
        </rules>
        <rules>
            <name>Sale_Employee_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_EmployeePicklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_User_Sale</targetReference>
            </connector>
            <label>Sale Employee Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Type_Decision</name>
        <label>Manager Type Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Choose_Sales_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Manager</defaultConnectorLabel>
        <rules>
            <name>Dev_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>dev.manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Dev_Manager</targetReference>
            </connector>
            <label>Dev Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Decision</name>
        <label>Role Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Manager_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>manager</defaultConnectorLabel>
        <rules>
            <name>Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_running_user.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dev_Employee</targetReference>
            </connector>
            <label>Dev</label>
        </rules>
        <rules>
            <name>Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_running_user.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_PickSalesPosition</targetReference>
            </connector>
            <label>Sale</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DevManagerEmployee</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dev Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dev Leader</stringValue>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Employee</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dev Leader</stringValue>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmployeeSale</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesSubPositionPickList</elementReference>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesManagerEmployee</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale Leader</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale PIC</stringValue>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesPickListChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Position__c</picklistField>
        <picklistObject>Employee__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Login Flow Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_running_user</name>
        <label>get running user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Role</name>
        <label>Get Manager Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dev_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dev_Role</name>
        <label>Get Dev Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sale_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dev</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sale_Role</name>
        <label>Get Sale Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Current_User_Manager</name>
        <label>Copy 1 of Update Current User Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manager_Role.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Employee_Id__c</field>
            <value>
                <elementReference>Copy_4_of_EmployeePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Current_User_Manager</name>
        <label>Copy 2 of Update Current User Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manager_Role.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Employee_Id__c</field>
            <value>
                <elementReference>Copy_3_of_EmployeePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_User_Dev</name>
        <label>Update Current User Dev</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dev_Role.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Employee_Id__c</field>
            <value>
                <elementReference>EmployeePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_User_Sale</name>
        <label>Update Current User Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sale_Role.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Employee_Id__c</field>
            <value>
                <elementReference>Copy_2_of_EmployeePicklist</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Choose_Dev_Manager</name>
        <label>Choose Dev Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_Current_User_Manager</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_EmployeePicklist</name>
            <choiceReferences>DevManagerEmployee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Employee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Sales_Manager</name>
        <label>Choose Sales Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_Update_Current_User_Manager</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_EmployeePicklist</name>
            <choiceReferences>SalesManagerEmployee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Employee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dev_Employee</name>
        <label>Choose Dev Leader</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_null_employee</targetReference>
        </connector>
        <fields>
            <name>EmployeePicklist</name>
            <choiceReferences>Employee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Assigned_Dev_Leader}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sale_Employee</name>
        <label>Choose Sale Employee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_null_employee</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_EmployeePicklist</name>
            <choiceReferences>EmployeeSale</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Employee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_PickSalesPosition</name>
        <label>Choose Sales Sub Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sale_Employee</targetReference>
        </connector>
        <fields>
            <name>salesSubPositionPickList</name>
            <choiceReferences>choiceSalesPIC</choiceReferences>
            <choiceReferences>choiceSalesLeader</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Select_Sales_Role}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_running_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colEmployeeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
