force-app/main/default/flows/Opportunity_Action_Accept_By_Dev.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Status_For_Dev_Acceptance</name>
        <label>Check Status For Dev Acceptance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Show_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Screen</defaultConnectorLabel>
        <rules>
            <name>Status_Equals_Pending_Dev_Manager_Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Opp_ById.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Dev Manager Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUserRoleID18</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Manager_Role.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_Confirm_Accept_Opp</targetReference>
            </connector>
            <label>Status Equals &quot;Pending Dev Manager Accept&quot;</label>
        </rules>
        <rules>
            <name>Status_Equals_Assigned_to_Dev_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Opp_ById.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned to Dev Leader</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUserRoleID18</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Manager_Role.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_Confirm_Accept_Opp_DL</targetReference>
            </connector>
            <label>Status Equals &quot;Assigned to Dev Leader&quot;</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DevLeaderRCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dev</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dev Leader</stringValue>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DevManagerRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dev Manager</stringValue>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserRoleID18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.UserRoleId})</expression>
    </formulas>
    <interviewLabel>Opportunity - Action - Accept By Dev {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Action - Accept By Dev</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Log_History</name>
        <label>Create Log History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>$User.Current_Employee_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Dev Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Dev Leader Accept</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Log_History</name>
        <label>Create Log History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>$User.Current_Employee_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Dev Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Dev Manager Accept</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Manager_Role</name>
        <label>Get Manager Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_For_Dev_Acceptance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Opp_ById</name>
        <label>Get Opportunity By Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Opp_Accept_Status</name>
        <label>Update Opp Accept Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_SCR_Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsible_Employee__c</field>
            <value>
                <elementReference>$User.Current_Employee_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Dev Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Dev Leader Accept</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tender_Responsible__c</field>
            <value>
                <elementReference>$User.Current_Employee_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Accept_Status</name>
        <label>Update Opp Accept Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR_Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Responsible_Employee__c</field>
            <value>
                <elementReference>$User.Current_Employee_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsible_Employee__c</field>
            <value>
                <elementReference>choose_dev_leader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Dev Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned to Dev Leader</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_SCR_Success_Screen</name>
        <label>SCR_Success_Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_Log_History</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_TXT_Success</name>
            <fieldText>&lt;p&gt;{!$Label.Dev_Leader_Accepted_Success}&lt;/p&gt;&lt;p&gt;Thông tin cơ hội:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Current State: {!GET_Opp_ById.StageName}&lt;/p&gt;&lt;p&gt;• Current Status: {!GET_Opp_ById.Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Confirm_Accept_Opp</name>
        <label>SCR_Confirm_Accept_Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCR_Select_Dev_Leader</targetReference>
        </connector>
        <fields>
            <name>TXT_Confirm_Submit_SM</name>
            <fieldText>&lt;p&gt;Bạn đang thực hiện tiếp nhận cơ hội.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thông tin cơ hội:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Current State: {!GET_Opp_ById.StageName}&lt;/p&gt;&lt;p&gt;• Current Status: {!GET_Opp_ById.Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sau khi xác nhận, bạn sẽ tiến hành chỉ định Dev Leader để xử lý cơ hội.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vui lòng xác nhận để tiếp tục.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Confirm_Accept_Opp_DL</name>
        <label>SCR_Confirm_Accept_Opp_DL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_Update_Opp_Accept_Status</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_TXT_Confirm_Submit_SM</name>
            <fieldText>&lt;p&gt;Bạn đang thực hiện tiếp nhận cơ hội.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thông tin cơ hội:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Current State: {!GET_Opp_ById.StageName}&lt;/p&gt;&lt;p&gt;• Current Status: {!GET_Opp_ById.Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sau khi xác nhận, bạn sẽ tiến hành cập nhật hồ sơ thầu để gửi lại cho Dev Manager xác nhận.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vui lòng xác nhận để tiếp tục.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Select_Dev_Leader</name>
        <label>SCR_Select_Dev_Leader</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opp_Accept_Status</targetReference>
        </connector>
        <fields>
            <name>choose_dev_leader</name>
            <choiceReferences>DevLeaderRCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Assigned_Dev_Leader}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Success_Screen</name>
        <label>SCR_Success_Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Log_History</targetReference>
        </connector>
        <fields>
            <name>TXT_Success</name>
            <fieldText>&lt;p&gt;Đã chỉ định Dev Leader thành công.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Trạng thái mới:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Stage: Đánh giá tiếp nhận&lt;/p&gt;&lt;p&gt;• Status: {!GET_Opp_ById.Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dev Leader sẽ tiếp nhận và xử lý cơ hội.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Show_Debug</name>
        <label>Error_Show_Debug</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Debug_Text</name>
            <fieldText>&lt;p&gt;Luồng gặp lỗi điều kiện. Vui lòng xem thông tin Debug sau:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;• Opportunity Status (thực tế): {!GET_Opp_ById.Status__c}&lt;/p&gt;&lt;p&gt;• Cần Status là: Pending Dev Manager Accept HOẶC Assigned to Dev Leader&lt;/p&gt;&lt;p&gt;• $User.UserRoleId: {!$User.UserRoleId}&lt;/p&gt;&lt;p&gt;• Get_Manager_Role.Id: {!Get_Manager_Role.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Opp_ById</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
