force-app/main/default/flows/Opportunity_Action_Assign_Dev_Manager_Handling_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Valid_Status_For_Dev_Assignment</name>
        <label>Check Valid Status For Dev Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Invalid Status</defaultConnectorLabel>
        <rules>
            <name>Valid_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_By_Id.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Sale Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_By_Id.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned to Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Dev_Manager</targetReference>
            </connector>
            <label>Valid Status</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pickdevmanager</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Position__c</picklistField>
        <picklistObject>Employee__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoiceSetDevManager</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dev Manager</stringValue>
            </value>
        </filters>
        <object>Employee__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Action - Request Revision By Sale LeaderAssign_Dev_Manager_Handling_Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Action - Assign Dev Manager Handling Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Status_Log</name>
        <label>Create_Status_Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR_Success_Revision</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>$User.Current_Employee_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Latest_Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Dev Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Dev Manager Accept</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_By_Id</name>
        <label>Get Opportunity By Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Valid_Status_For_Dev_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PIC_Opportunity</name>
        <label>Update PIC Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Status_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsible_Employee__c</field>
            <value>
                <elementReference>Dev_Manager_Picked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Dev Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Dev Manager Accept</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>SCR_Success_Revision</name>
        <label>Success - Revision Requested</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Success_Revision</name>
            <fieldText>&lt;p&gt;Đã gửi yêu cầu xử lí cơ hội thành công.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Trạng thái mới:&lt;/p&gt;&lt;p&gt;• State: Đánh giá tiếp nhận cơ hội&lt;/p&gt;&lt;p&gt;• Status: Chờ Dev Manager duyệt&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dev Manager sẽ nhận được thông báo để đánh giá tiếp nhận cơ hội.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Dev_Manager</name>
        <label>Select Dev Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_PIC_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Dev_Manager_Picked</name>
            <choiceReferences>RecordChoiceSetDevManager</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Dev_Manager_Picklist}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_By_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
