force-app/main/default/flows/Update_CV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Duplicate_Check</name>
        <label>Duplicate Company Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Skill_Match_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Công ty khác - OK</defaultConnectorLabel>
        <rules>
            <name>Same_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_Current_Opp.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Opportunity.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Duplicate_Screen</targetReference>
            </connector>
            <label>Cùng công ty - Trùng!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_Opp_Check</name>
        <label>Has Existing Opportunity?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Skill_Match_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Chưa nộp CV lần nào</defaultConnectorLabel>
        <rules>
            <name>Candidate_Has_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Candidate_Data_Table.firstSelectedRow.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate_Current_Opp</targetReference>
            </connector>
            <label>Đã có Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Match_Check</name>
        <label>Skill Match Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>update_opp_approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skill OK</defaultConnectorLabel>
        <rules>
            <name>Skill_Mismatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSkillMismatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Skill_Screen</targetReference>
            </connector>
            <label>Skill Mismatch</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsSkillMismatch</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!Get_Current_Opportunity.Tech_Stack__c})), NOT(ISBLANK({!Candidate_Data_Table.firstSelectedRow.Skill_Set__c})), NOT(CONTAINS({!Candidate_Data_Table.firstSelectedRow.Skill_Set__c}, {!Get_Current_Opportunity.Tech_Stack__c})), NOT(CONTAINS({!Get_Current_Opportunity.Tech_Stack__c}, {!Candidate_Data_Table.firstSelectedRow.Skill_Set__c})))</expression>
    </formulas>
    <interviewLabel>Update CV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update CV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Candidate</name>
        <label>Get All Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_List</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate_Current_Opp</name>
        <label>Get Candidate Current Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Data_Table.firstSelectedRow.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Opportunity</name>
        <label>Get Current Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_candidate_Link</name>
        <label>Update candidate Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Data_Table.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp_approved</name>
        <label>update_opp_approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_candidate_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal Preparation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Proposal &amp; CV preparing</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Candidate_List</name>
        <label>Candidate List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_Existing_Opp_Check</targetReference>
        </connector>
        <fields>
            <name>Candidate_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Candidate__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Temp data label</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Candidate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Candidate__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_All_Candidate&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8fb7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Candidate Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Experience__c&quot;,&quot;guid&quot;:&quot;column-3f8f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Experience&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Seniority__c&quot;,&quot;guid&quot;:&quot;column-2d9f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Seniority&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Skill_Set__c&quot;,&quot;guid&quot;:&quot;column-c1e2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Skill Set&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Candidate__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;Experience__c&quot;,&quot;Seniority__c&quot;,&quot;Skill_Set__c&quot;],&quot;elementReference&quot;:&quot;Get_All_Candidate&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EndScreenSuccess</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage</name>
            <fieldText>&lt;p&gt;Xác nhận chỉ định ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndScreenSuccess</name>
        <label>EndScreenSuccess</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AssignCandidate</name>
            <fieldText>&lt;p&gt;Chỉ định candidate thành công&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Duplicate_Screen</name>
        <label>Cảnh báo: Đã nộp CV công ty này</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Skill_Match_Check</targetReference>
        </connector>
        <fields>
            <name>DuplicateWarningMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;⚠️ Cảnh báo: Candidate đã nộp CV cho công ty này&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Candidate &lt;strong&gt;{!Candidate_Data_Table.firstSelectedRow.Name}&lt;/strong&gt; đã được nộp CV vào cơ hội &lt;strong&gt;{!Get_Candidate_Current_Opp.Name}&lt;/strong&gt; thuộc cùng công ty này trước đây.&lt;/p&gt;&lt;p&gt;Nhấn &lt;strong&gt;Back&lt;/strong&gt; để chọn candidate khác, hoặc &lt;strong&gt;Next&lt;/strong&gt; để tiếp tục.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Skill_Screen</name>
        <label>Cảnh báo: Skill Set không khớp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_opp_approved</targetReference>
        </connector>
        <fields>
            <name>SkillWarningMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;⚠️ Cảnh báo: Skill Set không khớp&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Cơ hội này yêu cầu tech stack: &lt;strong&gt;{!Get_Current_Opportunity.Tech_Stack__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Candidate &lt;strong&gt;{!Candidate_Data_Table.firstSelectedRow.Name}&lt;/strong&gt; có skill set: &lt;strong&gt;{!Candidate_Data_Table.firstSelectedRow.Skill_Set__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Nhấn &lt;strong&gt;Back&lt;/strong&gt; để chọn candidate khác, hoặc &lt;strong&gt;Next&lt;/strong&gt; để tiếp tục.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
